@{
    Layout = "../Shared/_Layout.cshtml";
}
@model List<ViewModels.Models.CompanyInfo>

   
<body>
<table class=" table my-2 table-bordered" id="companytable">
                  
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">CompanyName</th>
                            <th scope="col">IsActive</th>
                            <th>Action</th>
                        </tr>
                    </thead>


                    <tbody>

                        @foreach (var u in Model)
                        {
                            <tr>
                                <td>@u.companyname</td>
                    @{
                        if(@u.isactive==1)
                        {
                            <td>Active</td>
                        }
                        else
                        {
                              <td>InActive</td>
                        }
                    }
                              
                                
                               
                                <td class="d-flex">
                                    <button class="btn border-0">
                                           <a asp-action="GetUserById" asp-controller="Home" type="button" class="text-warning"  asp-route-id="@u.companyid">
                                        <i class="bi bi-pencil-square icon"></i>
                                        </a> </button>
                                        <button class="btn border-0">
                                     <a asp-action="DeleteUserById" asp-controller="Home" class="nav-link text-black deleteMission p-2" type="button" asp-route-id="@u.companyid"><i class="bi bi-trash3"></i></a>
                                        </button>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
          

   
       <script>
  $(document).ready(function()
  {
      $('#companytable').DataTable({

      });
  });
</script>
     </body>  