@model ViewModels.Models.ForgetPasswordVm
@{
    Layout = "../Shared/_Layout1.cshtml";
}

<style>
    body {
        background-color: white;
    }
</style>

<div class="col-12 px-0 div_header" >
    <div class="page-top" style="position:relative">

        <img src="~/images/bgtheme.jpg" style="object-fit: cover;position: absolute;height: 100%;width: 100%;z-index: 0;filter: opacity(0.4);" />
        <div class="lockIcon mt-4">
            <img id="mainicon" src="~/images/fries.png" style="height: 60px;z-index: 1;" alt="">
        </div>

        <p class="mt-2" style="z-index:1"> </p>
    </div>
    <div class="container mb-4 d-flex justify-content-center">
       
        <form class="mt-5 formm" id="formm" asp-action="OtpCompare" asp-controller="Home">
            @if (TempData["error"] != null)
            {
                <span class="text-danger">@TempData["error"]</span>
            }
            <div style="display:flex;justify-content:center;height: 65px;"> <img id="milkimoji"  src="~/images/milk-cookie.gif" /></div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">
                    <p class="formInput">Email <span style="color: red;">*</span></p>
                </label>
                <input type="email" class="form-control data" id="email" aria-describedby="emailHelp" placeholder="evan.donohue@gmail.com" asp-for="email">
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            <div style="display: flex;justify-content: center;">
               
                <button type="button" id="" onclick="forget()" value="submit" class="btn submit"
                        style="background-color: grey;color: white;border-radius: 7px;">
                   Send OTP
                </button>
              
            </div>
            <hr >

            <div class="mb-3">
                <label for="" class="form-label">
                    <p class="formInput">Enter OTP <span style="color: red;">*</span></p>
                </label>
                <input type="number" class="form-control data" id="" aria-describedby="emailHelp" placeholder="" asp-for="otp">
                <span asp-validation-for="otp" class="text-danger"></span>
            </div>


            <div class="d-flex justify-content-center">

                <button type="submit" id="" value="submit" class="btn submit"
                        style="background-color: red;color: white;border-radius: 7px;">
                    Reset Password
                </button>
            </div>
            <hr>
            <div>
            </div>
        </form>

    </div>
 
    <div style="height:90px ; position:relative">
        <div id="popcorn" style="position:absolute;bottom:0px">
            <img src="~/images/popcornGif.gif" style="width:100px" />
        </div>
    </div>
</div>


<script>
    function forget() {
        var email = $("#email").val();
        $.ajax({
            method: 'Post',
            url: "/Admin/Home/ForgetPassword",
            data: { 'email': email },
            success: function (res) {
            
            },
            error: function () {
                alert("user erroe");
            },

        })
    }
</script>

