@model ViewModels.Models.UserLoginVm
@{
    Layout = "../Shared/_Layout1.cshtml";
}

@*<link href="~/css/respos.css" />*@
<style>
    body {
        background-color: white;
    }
</style>

<div class="col-12 px-0" style="background-color: white;  height: fit-content;box-shadow: 4px 5px 5px #6c757d;position:relative;margin-top:50px">
    <div class="page-top" style="position:relative">

        <img src="~/images/bgtheme.jpg" style="object-fit: cover;position: absolute;height: 100%;width: 100%;z-index: 0;filter: opacity(0.4);" />
        <div class="lockIcon mt-4">
            <img id="mainicon" src="~/images/fries.png" style="height: 60px;z-index: 1;" alt="">
        </div>

        <p class="mt-2" style="z-index:1"> User Login Page</p>
    </div>
    <div class="container mb-4" style="display:flex;justify-content:center">
       
        <form class="mt-5 formm" id="formm" asp-action="Index" asp-controller="Home">
            @if (TempData["error"] != null)
            {
                <span class="text-danger">@TempData["error"]</span>
            }
            <div style="display:flex;justify-content:center;height: 65px;"> <img id="milk" style="width:65px;height:65px;display:none" src="~/images/milk-cookie.gif" /></div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">
                    <p class="formInput">Email <span style="color: red;">*</span></p>
                </label>
                <input type="email" class="form-control data" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="evan.donohue@gmail.com" asp-for="email">
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">
                    <p class="formInput">Password <span style="color: red;">*</span></p>
                </label>
                <input type="password" class="form-control data" id="exampleInputPassword1" placeholder="**********" asp-for="password">
                <span asp-validation-for="password" class="text-danger"></span>
            </div>

            <div style="display: flex;justify-content: center;">
                <img src="~/images/finger-fotor-bg-remover-20230623144328.png" class="finger" style="height: 38px;transform: scaleX(-1);display:none" />
                <button type="submit" id="submitbtn" value="submit" class="btn submit"
                        style="background-color: red;color: white;border-radius: 7px;">
                    Log In
                </button>
                <img src="~/images/peek3-fotor-bg-remover-20230623155433.png" class="finger" style="height: 38px; ;transform: scaleX(-1)" />
            </div>

            <hr>

            <div>
            </div>
            <div class="d-flex justify-content-center">
             <a asp-action="ForgetPassword" asp-controller="Home" style="text-decoration:none ; color:grey">Forgot Password?</a>
            </div>

        </form>

    </div>
    <div style="display:flex; justify-content:center ;z-index:2">

        <a class="btn" onclick="userRegister()" asp-action="UserRegister" asp-area="admin" asp-controller="Home"
                style="background-color: #d6d6d6; color: grey;border-radius: 7px;z-index:2">
            Create An
            Account
        </a>
    </div>
    <div style="height:90px ; position:relative">
        <div id="popcorn" style="position:absolute;bottom:0px">
            <img src="~/images/popcornGif.gif" style="width:100px" />
        </div>
    </div>
</div>

<script>
    //function userRegister() {
   
    //    $.ajax({
    //        method: 'Post',
    //        url: "/Admin/Home/UserRegister",
    //        traditional:true,
    //        success: function (res) {

    //        },
    //        error: function () {
    //            alert("user erroe");
    //        },

    //    })
    //}


//  function userRegister() {
//    $.ajax({
//        method: 'GET',
//        url: "/Admin/Home/UserRegister",
//        dataType: "html",
//        success: function (res) {
//            // Replace the entire document HTML with the received HTML content
//            document.open();
//            document.write(res);
//            document.close();
//        },
//        error: function () {
//            alert("User error");
//        }
//    });
//}

</script>
