.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom: 5px solid red;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
.catcard {
    background-color: #ffe599;
}
.cardactive {
    background-color: lightgreen !important;
}
.colortableactive {
    background-color: lightgreen !important;
}
.nav-tabs .nav-link.active {
    color: black !important;
    background-color:white !important;
    
}
.rightdivitems {
    background: wheat;
    border-radius: 15px 50px 30px 5px;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.itemsbox {
    background-color: blanchedalmond;
    height: 435px;
    width: 100%;
    border-radius: 15px 50px 30px;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.nav-tabs .nav-link {
    background-color: #ffe599;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-right: 4px solid gold;
    /* background-color: #24a15b !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;*/
}
.tablewarn {
    color: red;
    font-weight: bold;
    background-color: white;
    animation: blink 1s infinite;
    font-size: 21px;
    display: inline-block;
}
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.item-row {
    background-image: linear-gradient(to right, transparent 80%, #ddd 80%);
    background-position: 0 100%;
    background-size: 100% 1px;
    background-repeat: no-repeat;
}

.total-row td {
    border-top: 2px solid #000;
}
.designtab {
    background-color: #ff7a7a;
    width: 50%;
    margin-left: 13px;
}

.text-secondary {
    color: black !important;
    --bs-text-opacity: none !important;
}
.widcard {
  
    width:25%;
}

.nav-tabs {
    border-bottom: 0;
}

#cusinput {
    border: 0;
    border-bottom: 1px solid black;
}

.flex-direction-nav a [class*="x-icon-"],
.slick-prev:before,
.slick-next:before {
    color: red !important;
}

.variable-width .slick-slide {
    width: 50px;
}

.slick-initialized .slick-slide {
    display: block;
    width: 120px !important;
}

.slick-slider {
    width: 1025px !important;
}
.slick-slide {
    margin: 0 10px;
}

.slick-prev:before, .slick-next:before {
    color: #000;
}

/*For Left side */
.overflow_class {
    overflow-y: scroll;
    height: 436px;
}

.btnHeight {
    height: 23px;
    width: 17px;
}

.plus_class {
    position: absolute;
    margin-top: -21px;
    margin-left: -8px;
    font-size: 25px;
    color: white;
}

.minus_class {
    position: absolute;
    margin-top: -21px;
    margin-left: -5px;
    font-size: 25px;
    color: white;
}



.table-row .slick-slide {
    margin: 0 10px;
}

.table-row .slick-prev:before, .slick-next:before {
    color: #000;
}

.table-row .slick-initialized .slick-slide {
    display: block;
    width: 59px !important;
}

.table-row .slick-slider {
    width: 553px !important;
}

.table-row .slick-track {
    width: 3858px !important;
}

@media only screen and (max-width:1830px) {
    .table-row .slick-slider {
        width: 482px !important;
    }
    .table-row .slick-initialized .slick-slide {
        display: block;
        width: 49px !important;
    }
}

@media only screen and (max-width:1640px) {
    .table-row .slick-slider {
        width: 387px !important;
    }
    .table-row .slick-initialized .slick-slide {
        display: block;
        width: 38px !important;
    }
}

@media only screen and (max-width:1430px) {
    .table-row .slick-slider {
        width: 482px !important;
    }

    .table-row .slick-initialized .slick-slide {
        display: block;
        width: 49px !important;
    }
}

@media only screen and (max-width:1328px) {
    .table-row .slick-initialized .slick-slide {
        display: block;
        width: 28px !important;
    }
    .table-row .slick-slider {
        width: 332px !important;
    }
}
@media only screen and (max-width:1180px) {
    .table-row .slick-initialized .slick-slide {
        display: block;
        width: 48px !important;
    }
}


@media only screen and (max-width:1675px) {
    .slick-slider { /*main width*/
        width: 797px !important;
    }

    .slick-initialized .slick-slide { /* //item size*/
        display: block;
        width: 106px !important;
    }
}
@media only screen and (max-width:1164px) {
    .table-row .slick-slider {
        width: 274px !important;
    }
}
@media only screen and (max-width:1400px) {
    .textdes {
        padding: 1px;
    }
}
@media only screen and (max-width:1002px) {
    .table-row .slick-slider {
        width: 218px !important;
    }
    .table-row .slick-initialized .slick-slide {
        display: block;
        width: 34px !important;
    }
}
@media only screen and (max-width:830px) {
    .table-row .slick-slider {
        width: 205px !important;
    }
}
@media only screen and (max-width:768px) {
    .table-row .slick-initialized .slick-slide {
        display: block;
        width: 50px !important;
    }
    .table-row .slick-slider {
        width: 557px !important;
    }
    .img-fluid{
        width:100%;
        height:100%;
    }
}
@media only screen and (max-width:688px) {
    .table-row .slick-slider {
        width: 487px !important;
    }
    .table-row .slick-initialized .slick-slide {
        display: block;
        width: 42px !important;
    }
}
@media only screen and (max-width:568px) {
    .table-row .slick-initialized .slick-slide {
        display: block;
        width: 35px !important;
    }
    .table-row .slick-track {
        width: 3858px !important;
    }
}


@media only screen and (max-width:1367px) {
    .slick-slider { /*main width*/
        width: 745px !important;
    }

    .slick-initialized .slick-slide { /* //item size*/
        display: block;
        width: 108px !important;
    }
}

@media only screen and (max-width:1274px) {
    .slick-slider { /*main width*/
        width: 662px !important;
    }
}

@media only screen and (max-width:1143px) {
    .slick-slider { /*main width*/
        width: 578px !important;
    }
}

@media only screen and (max-width:1018px) {
    .slick-slider { /*main width*/
        width: 497px !important;
    }
}

@media only screen and (max-width:906px) {
    .slick-slider { /*main width*/
        width: 433px !important;
    }
    .slick-initialized .slick-slide { /* //item size*/
        display: block;
        width: 90px !important;
    }
}

@media only screen and (max-width:543px) {
    .slick-slider { /*main width*/
        width: 314px !important;
    }

    .slick-initialized .slick-slide { /* //item size*/
        display: block;
        width: 84px !important;
    }
}

@media only screen and (max-width:1127px) {
    .widcard {
        width: 33%;
    }
}
@media only screen and (max-width:468px) {
    .widcard {
        width: 42%;
    }
}
@media only screen and (max-width:1050px) {
        .card-title {
            font-size: 15px;
        }
}

/*@media only screen and (max-width:890px) {
      
        .card-img-top {
            width: 45%;
        }
}
   */

@media only screen and (max-width:628px) {
   .container .table-row{
       margin-left:45px;
   }
}

@media only screen and (max-width:600px) {
    .widcard{
        width:60%;
    }
}

@media only screen and (max-width:405px) {
    .card-title {
        font-size: 12px;
    }
 /*   .card-img-top{
        width:45%;
    }*/
}

