@model ViewModels.Models.CategoryVm
<div class="col-7 px-0" style="background-color: #f7f7f7; height: auto; box-shadow: 4px 5px 5px #6c757d;">
    <div class="page-top" style="">
        <div class="lockIcon mt-4">
            <img id="mainicon" src="~/images/fries.png" style="height: 60px;" alt="">
        </div>
        <p class="mt-2">Category Login Page</p>
    </div>
    <div class="container mb-4" style="display:flex;justify-content:center">
        <form class="mt-5 formm" id="formm" asp-action="AddCategories" asp-controller="category">
            @if (TempData["ErrorMessage"] != null)
            {
                <span class="text-danger">@TempData["ErrorMessage"]</span>
            }
            <div class="mb-3">
                <label for="companyName" class="form-label">
                    <p class="formInput">Category Name<span style="color: red;">*</span></p>
                </label>
                <input type="name" class="form-control data" id="companyName" aria-describedby="" placeholder="company name" name="name">
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            @*<div style="display: flex;justify-content: center;">
                
            </div>*@
            <button type="submit" class="btn submit"
                    style="background-color: red;color: white;border-radius: 7px;">
                Add
            </button>
        </form>
    </div>
   
</div>



<script>
    $(document).ready(function () {


        $("#mainicon").mouseenter(function () {
            $("#mainicon").attr('src', '/images/pizza.png');

        })
        $("#mainicon").mouseleave(function () {
            $("#mainicon").attr('src', '/images/fries.png');

        })

    })
</script>